<script>
  $(document).ready(function () {
    $('#startdate').datepicker({
        format: 'yyyy-mm-dd'
    });
    $('#enddate').datepicker({
        format: 'yyyy-mm-dd'
    });

    $('.update-coupons').click(function (e) {
      e.preventDefault();
      var sdate = $("#startdate").val();
      var edate = $("#enddate").val();
      alert(sdate);
      alert(edate);
      var origin = window.location.origin;
      window.location.href = origin + '/coupons/updateCoupons?sdate=' + sdate + '&edate=' + edate;
    });

  });
</script>

<style>
  .div-setting{
   width: 53%;
   margin-left: 18%;
  }
</style>

<div class="page-header alert alert-success div-setting">
  <h4>Update Coupons</h4>
</div>
<div class="well div-setting">
  <h5>Select Date Range to Update Coupons</h5>
  <%= form_for  @coupon, :url=> updateCoupons_coupons_path  ,:html => { :class => 'form-horizontal', method: :post } do |f| %>
    <%#= text_field_tag "start_date",nil,:placeholder=>"Start Date", data: {format: "MM/dd/yyyy"}, :id=>"startdate", :class=>"input-append date" %>
    <input type="text" id="startdate" name="start_date" placeholder="Start Date" data-format="yyyy/MM/dd" class="input-append date">
    
    <input type="text" id="enddate" name="end_date" placeholder="End Date" data-format="yyyy/MM/dd" class="input-append date">

    <%#= text_field_tag :end_date,nil,:placeholder=>"End Date", data: {format: "MM/dd/yyyy"}, :id=>"enddate", :class=>"input-append date" %>
    <%= submit_tag "Update Coupons", :class=> "btn btn-primary update-coupons" %>
  <% end %>
</div>